# Data Processing And Exploratory Data Analysis

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pe
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import IsolationForest

import warnings

warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (16, 8)
plt.rcParams['figure.dpi'] = 250
sns.set_style(style='darkgrid')
plt.tight_layout()
%matplotlib inline

## Loading Datasets

In [8]:
anime_dataset = pd.read_csv(r"C:\Users\ASUS\Documents\GitHub\Anime_Recommendations_System\Dataset\anime.csv")

anime_dataset

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [9]:
rating1 = pd.read_csv(r"C:\Users\ASUS\Documents\GitHub\Anime_Recommendations_System\Dataset\rating1.csv")

rating1

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
3906863    36791      2795       7
3906864    36791      2904      10
3906865    36791      3270      10
3906866    36791      3299       8
3906867    36791      3457       9

[3906868 rows x 3 columns]

In [10]:
rating2 = pd.read_csv(r"C:\Users\ASUS\Documents\GitHub\Anime_Recommendations_System\Dataset\rating2.csv")

rating2

         user_id  anime_id  rating
0          36791      3467       7
1          36791      3503       8
2          36791      3549       9
3          36791      3653       8
4          36791      3654       7
...          ...       ...     ...
3906864    73515     16512       7
3906865    73515     17187       9
3906866    73515     22145      10
3906867    73516       790       9
3906868    73516      8074       9

[3906869 rows x 3 columns]

In [17]:
rating_data = pd.concat([rating1, rating2],axis=0)
rating_data.reset_index(inplace=True)

rating_data

           index  user_id  anime_id  rating
0              0        1        20      -1
1              1        1        24      -1
2              2        1        79      -1
3              3        1       226      -1
4              4        1       241      -1
...          ...      ...       ...     ...
7813732  3906864    73515     16512       7
7813733  3906865    73515     17187       9
7813734  3906866    73515     22145      10
7813735  3906867    73516       790       9
7813736  3906868    73516      8074       9

[7813737 rows x 4 columns]